# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [17]:
import pandas as pd
import numpy as np


url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)


df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [18]:
print("Número de filas:", df.shape[0])
print("Número de columnas:", df.shape[1])

Número de filas: 4008
Número de columnas: 11

In [19]:
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [20]:
for columnas in df.columns:
    valores_unicos = df[columnas].nunique()
    print(f"{columnas}: {valores_unicos} valores unicos")

Customer: 1071 valores unicos
ST: 8 valores unicos
GENDER: 5 valores unicos
Education: 6 valores unicos
Customer Lifetime Value: 1027 valores unicos
Income: 774 valores unicos
Monthly Premium Auto: 132 valores unicos
Number of Open Complaints: 6 valores unicos
Policy Type: 3 valores unicos
Vehicle Class: 6 valores unicos
Total Claim Amount: 761 valores unicos

In [21]:
numerical_cols = df.select_dtypes(include=np.number).columns
print(df[numerical_cols].describe())

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [22]:
categorical_cols = df.select_dtypes(exclude=np.number).columns
for columnas in categorical_cols:
    print(f"\nValores para {columnas}:")
    print(df[columnas].value_counts(normalize=True) * 100)

Valores para Customer:
Customer
RB50392    0.093371
HJ15383    0.093371
AO74776    0.093371
HQ82233    0.093371
OL72737    0.093371
             ...
RO26085    0.093371
ES57969    0.093371
JK55587    0.093371
RN97635    0.093371
MY31220    0.093371
Name: proportion, Length: 1071, dtype: float64

Valores para ST:
ST
Oregon        29.878618
California    19.701214
Arizona       17.366947
Cali          11.204482
Nevada         9.150327
Washington     7.563025
WA             2.801120
AZ             2.334267
Name: proportion, dtype: float64

Valores para GENDER:
GENDER
F         47.903564
M         43.291405
Male       4.088050
female     2.935010
Femal      1.781971
Name: proportion, dtype: float64

Valores para Education:
Education
Bachelor                30.252101
College                 29.225023
High School or Below    27.637722
Master                   8.776844
Doctor                   3.454715
Bachelors                0.653595
Name: proportion, dtype: float64

Valores para Customer Lifetime Value:
Customer Lifetime Value
445811.34%     0.374532
251459.20%     0.374532
272535.64%     0.280899
578018.22%     0.280899
684615.03%     0.280899
                 ...
245357.08%     0.093633
507566.27%     0.093633
321497.94%     0.093633
1227534.31%    0.093633
899704.02%     0.093633
Name: proportion, Length: 1027, dtype: float64

Valores para Number of Open Complaints:
Number of Open Complaints
1/0/00    77.497666
1/1/00    12.885154
1/2/00     4.668534
1/3/00     3.174603
1/4/00     1.213819
1/5/00     0.560224
Name: proportion, dtype: float64

Valores para Policy Type:
Policy Type
Personal Auto     72.829132
Corporate Auto    21.848739
Special Auto       5.322129
Name: proportion, dtype: float64

Valores para Vehicle Class:
Vehicle Class
Four-Door Car    53.781513
Two-Door Car     19.140990
SUV              18.580766
Sports Car        5.322129
Luxury SUV        1.867414
Luxury Car        1.307190
Name: proportion, dtype: float64

El rango de Total Claim Amount va desde 0 hasta aproximadamente 3000, la media de ingresos de los clientes se situa entorno a 40000.

In [23]:
locations_counts = df["ST"].value_counts(ascending = True).head(5)
print("Los 5 estados menos comunes son :")
print(locations_counts)

Los 5 estados menos comunes son :
ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

In [24]:
policy_counts = df["Policy Type"].value_counts()
top_policy = policy_counts.idxmax()

print("Policy counts:")
print(policy_counts)
print("\nPolicy with highest count:", top_policy)

Policy counts:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Policy with highest count: Personal Auto

In [ ]:
#creamos un df para cada caso
personal_auto = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto = df.loc[df['Policy Type'] == 'Corporate Auto']

#Aanlizamos ambos para ver diferencias
avg_income_personal = personal_auto['Income'].mean()
avg_income_corporate = corporate_auto['Income'].mean()

print("Average income - Personal Auto:", avg_income_personal)
print("Average income - Corporate Auto:", avg_income_corporate)

Average income - Personal Auto: 38180.69871794872
Average income - Corporate Auto: 41390.31196581197

Podemos afirmar que los ingresos de los clientes que forman parte de la columna Personal Auto tienen ligeramente un poco menos de ingresos que los que pertenecen a Corporate Auto.

EJERCICIO BONUS

In [32]:
limite = df["Total Claim Amount"].quantile(0.75)
print("El umbral del percentil 75 es : ", limite)

El umbral del percentil 75 es :  532.8

In [ ]:
#creamos un df de los customer q esta por encima de ese umbral
high_claim_customers = df[df["Total Claim Amount"] > limite]
len(high_claim_customers)
high_claim_customers

In [34]:
high_claim_customers.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678

In [37]:
for columnas in categorical_cols:
    print(f"\n{columnas} distribution in high claim customers:")
    print(high_claim_customers[columnas].value_counts(normalize=True) * 100)

Customer distribution in high claim customers:
Customer
QZ44356    0.378788
JS43228    0.378788
RA68844    0.378788
TC14209    0.378788
ED50963    0.378788
             ...
DP84567    0.378788
ZF84449    0.378788
EM29359    0.378788
SF57173    0.378788
MY31220    0.378788
Name: proportion, Length: 264, dtype: float64

ST distribution in high claim customers:
ST
Oregon        34.090909
California    24.621212
Arizona       15.151515
Nevada        10.984848
Cali           7.954545
WA             3.787879
AZ             3.409091
Name: proportion, dtype: float64

GENDER distribution in high claim customers:
GENDER
F         48.319328
M         42.016807
Male       6.722689
female     2.100840
Femal      0.840336
Name: proportion, dtype: float64

Education distribution in high claim customers:
Education
Bachelor                32.196970
High School or Below    32.196970
College                 31.060606
Master                   3.030303
Doctor                   1.515152
Name: proportion, dtype: float64

Customer Lifetime Value distribution in high claim customers:
Customer Lifetime Value
578018.22%     1.136364
477294.38%     1.136364
387364.70%     0.757576
462680.11%     0.757576
1017971.70%    0.757576
                 ...
712659.65%     0.378788
460163.41%     0.378788
915523.97%     0.378788
890167.84%     0.378788
899704.02%     0.378788
Name: proportion, Length: 256, dtype: float64

Number of Open Complaints distribution in high claim customers:
Number of Open Complaints
1/0/00    78.030303
1/1/00    11.363636
1/3/00     4.545455
1/2/00     4.166667
1/4/00     1.136364
1/5/00     0.757576
Name: proportion, dtype: float64

Policy Type distribution in high claim customers:
Policy Type
Personal Auto     72.348485
Corporate Auto    22.727273
Special Auto       4.924242
Name: proportion, dtype: float64

Vehicle Class distribution in high claim customers:
Vehicle Class
SUV              38.257576
Four-Door Car    26.136364
Two-Door Car     12.500000
Sports Car       11.742424
Luxury SUV        7.196970
Luxury Car        4.166667
Name: proportion, dtype: float64